* {
	margin: 0;
	padding: 0;
}

:root {
	--dark: #25100b;
	--medium: #451c19;
	--light: #f3cb70;
	--contrast: #ef611b;
}

.container {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template:
		"sidebar header"
		"sidebar main-content";
}

.header {
	grid-area: header;
	background-color: var(--contrast);
	color: var(--light);
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-areas: "search account" "greeting tasks";
	gap: 15px;
	padding: 15px;
}
.search {
	grid-area: search;
}

.greeting {
	grid-area: greeting;
}

.account {
	grid-area: account;
}

.tasks {
	grid-area: tasks;
}

.sidebar {
	grid-area: sidebar;
	background-color: var(--dark);
	padding: 15px;
	display: grid;
	grid-template:
		"logo"
		"nav"
		"help";
	align-items: start;
	color: var(--light);
}

.sidebar ul {
	list-style: none;
}

.logo {
	grid-area: logo;
}

.nav {
	grid-area: nav;
}

.help {
	grid-area: help;
}

.main-content {
	grid-area: main-content;
	background-color: var(--light);
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-areas: "articles news" "articles socials";
	gap: 15px;
	padding: 15px;
}

.articles {
	grid-area: articles;
	display: grid;
	grid-template-rows: 50px auto;
	grid-template-areas: "article-header" "article-content";
	gap: 15px;
}

.article-header {
	grid-area: article-header;
	color: var(--dark);
}

.article-content {
	grid-area: article-content;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 15px;
}

.article-content .card {
	background-color: var(--contrast);
	color: var(--medium);
	height: 250px;
}

.title {
	color: var(--dark);
}

.news {
	grid-area: news;

	color: var(--medium);
}

.news-content .card {
	background-color: var(--contrast);
}

.socials {
	grid-area: socials;
	color: var(--dark);
}

.trending {
	background-color: var(--contrast);
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template: "icon content";
	justify-content: start;
}

.trending img {
	grid-area: icon;
}

.trend-content {
	grid-area: content;
}

.trend-text {
	color: var(--medium);
}
